body {
  background-color: #101820;
  color: rgb(255, 249, 249);
}
img {
  max-width: 100%;
}

#movie-backdrop {
  width: 100%;
}

.container {
  padding-top: 32px;
}

#actors {
  margin: 24px 16px 0 0;
}

.actor-photo {
  width: 11rem;
  max-width: 100%;
}

.navbar {
  background: linear-gradient(
    180deg,
    rgba(0, 133, 95, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.actors-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0;
}

.actors-container h4 {
  margin: 0;
}

.smol {
  width: 200px;
}
.directorPic {
  width: 200px;
}

.similarMovie {
  width: 200px;
  margin-right: 20px;
}
.participatedMovie {
  width: 200px;
  margin-right: 20px;
}
.singleActorPic {
  width: 200px;
  margin-right: 20px;
}
.clickable:hover {
  cursor: pointer;
}

h4,
h3,
h1 {
  color: #feac41;
  background-color: #10182091;
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
}

.movie-card {
  min-width: 150px;
}
