#movie-backdrop {
  width: 100%;
}

.container {
  padding-top: 32px;
}

#actors {
  margin: 24px 16px 0 0;
}

.actor-photo {
  width: 11rem;
  max-width: 100%;
}

.actors-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0;
}

.actors-container h4 {
  margin: 0;
}

.smol {
  width: 200px;
}
.directorPic {
  width: 200px;
}

.similarMovie {
  width: 200px;
  margin-right: 20px;
}
